name: Test
on:
  # Run CI on all pushes to the master and release/** branches, and on all new
  # pull requests, and on all pushes to pull requests (even if a pull request
  # is not against master).
  push:
    branches:
      - "master"
      - "releases/**"
  pull_request:
defaults:
  run:
    shell: bash
jobs:
  test:
    runs-on: ubuntu-18.04
    name: "test"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Tox
        run:  sudo apt-get install tox
      - name: Run Tests
        run:  tox
